.container--0- {
  position: absolute;
  left: 281px;
  top: 2809px;
  width: 1920px;
  height: 1024px;
  background-color: #000000;
  justify-content: start;
  align-items: start;
}
.text-1-2-0 {
  position: absolute;
  left: 524px;
  top: 426px;
  width: 856px;
  height: 173px;
  color: #ffffff;
  border-width: 2.7833492755889893px;
  border-style: solid;
  border-color: ;
  font-size: 140.50991821289062px;
  font-family: Clash Display, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}
.text-1-2-1 {
  position: absolute;
  left: 1364px;
  top: 456px;
  width: 32px;
  height: 24px;
  color: #ffffff;
  font-size: 20px;
  font-family: Inter, "Bold";
  font-weight: 700;
  text-align: left;
  vertical-align: top;
}
